body {

    background: #0b1020;

    color: white;

    font-family: Arial;

    padding: 40px;
}

.wallet-card {

    background: #151d35;

    padding: 30px;

    border-radius: 15px;

    width: 400px;

    margin-bottom: 30px;
}

button {

    padding: 10px 20px;

    margin-right: 10px;

    margin-top: 10px;

    border: none;

    border-radius: 8px;

    cursor: pointer;
}

table {

    width: 100%;

    border-collapse: collapse;

    background: #151d35;
}

th,
td {

    padding: 12px;

    border-bottom: 1px solid #2a3357;
}

th {

    background: #1d2747;
}
